<div class="m-1">
  <div class="mb-3">
    <label for="search">Nome do usuário</label>
    <input
      type="text"
      name="search"
      class="form-control"
      [(ngModel)]="username"
      (keyup.enter)="onBuscar()"
    />
  </div>
  <button class="btn btn-primary" [disabled]="username.length === 0" (click)="onBuscar()">
    Buscar
  </button>
  <hr />
  <div *ngIf="loading" class="spinner-border"></div>
  <div  class="card text-white bg-dark mb-3" style="max-width: 18rem">
    <div class="card-header"><i class="bi bi-github"></i>{{resultados.login}}</div>
    <div class="card-body">
      <h5 class="card-title">
        {{resultados.followers_url}}
        <a [href]="resultados.html_url" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
      </h5>
      <img [src]="resultados.avatar_url" alt="">
      <!-- <p class="card-text">
        {{rep.following_url}}
        <span class="text-muted d-block">{{rep.following_url | date}}</span>
        <span class="text-muted d-block">{{rep.following_url}}</span>
        <span class="text-muted d-block">
          <i class="bi bi-star-fill"></i>
          {{rep.login}}</span
        >
      </p> -->
    </div>
  </div>
</div>
